.i{
    float: left;
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.e{
    float: right;
    width: 100px;
    height: 100px;
    background-color: aqua;
}

body{
    height: 100px;
    width: 100px;
    background-color: aqua;
}