body{
    padding: 100px 0 100px 0;
    /* height: 200vh; */
}

/* Colors */
.bg--light{
    background-color: #DFDEDC;
    color: #707070;
}

.bg--dark{
    background-color: #6D6D6D;
    color: #fff;
}

.bg--white{
    background-color: #fff;
    color: #333;
}

.bg--darkgray{
    background-color: #616161 !important;
    color: #fff !important;
}

.bg--darkmode{
    background-color: #474747;
    color: #fff;
}

.bg--light-bright{
    background-color: rgba(223, 222, 220, 0.7);
}

.bg--dark-bright{
    background-color: #7D7D7D; 
    color: #fff;
}

.bg--dark-bright-op{
    background-color: rgba(125, 125, 125, 0.7);
    color: #fff;
}

.bg--dark-img{
    background-color: #555555;
}

.c-gray{
    color: #707070 !important;
}

.c-white{
    color: #fff !important;
}

.c-red{
    color: #FF8C8C;
}

.border-w{
    border: 1px solid;
    border-color: #fff;
}

.border-b{
    border: 1px solid;
    border-color: #333;
}

.border-r{
    border: 1px solid #FF8C8C;
}

.border-none{
    border: none;
}

.border-1_5{
    border-width: 1.5px;
}

.text-border {
    text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
}

.x-mark:hover{
    cursor: pointer;
    color: #FF8C8C;
}

.placeholder--hover-w::placeholder{
    color: #fff !important;
    filter: brightness(0.7);
}

/* btn */

.btn--deletePost{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    transition: 0.2s;
}

.btn--deletePost:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #FF8C8C;
    color: #fff;
    transition: 0.2s;
}

.btn--editPost{
    position: absolute;
    top: 20px;
    right: 120px;
    background-color: transparent;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    transition: 0.2s;
}

.btn--editPost:hover{
    cursor: pointer;
    transform: scale(1.1);
    /* background-color: #FF8C8C; */
    /* color: #fff; */
    transition: 0.2s;
}

.btn--deleteUser{
    top: 20px;
    right: 20px;
    background-color: transparent;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    transition: 0.2s;
}

.btn--deleteUser:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #FF8C8C;
    color: #fff;
    transition: 0.2s;
}

.btn--admin{
    top: 20px;
    right: 20px;
    background-color: transparent;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    transition: 0.2s;
}

.btn--admin:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: #333;
    transition: 0.2s;
}

.btn--create-post:hover{
    filter: brightness(105%);
    cursor: pointer;
}

.btn--profile-settings:hover{
    filter: brightness(105%);
    cursor: pointer;
    z-index: 1000;
}

.profile--change-image-btn{
    height: 40px;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
}

.profile--change-image-btn:hover{
    cursor: pointer;
}

.post--top{
    position: relative;
}

/* Navbar */
nav{
    height: 70px;
    width: 100%;
    position: fixed !important;
    box-shadow: 0px 4px 10px #888888;
    top: 0;
    z-index: 1000;
}

.search-icon {
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    border: none;
    background: none;
}

input[type=search] {
    width: 100%;
    height: 40px;
    border-color: black;
    border-radius: 50px;
    border-width: 2px;
    padding-left:20px;
    padding-right: 40px;
}

input[type=search]:focus {
    outline: none;
}

.nav--logo{
    height: 100%;
    width: auto;
}

.nav--account-img{
    height: 40px;
    width: 40px;
    border: 1px solid #333;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
}

.nav--account-name{
    display: inline-block;
    margin-right: 20px;
    padding: 0;
    margin-bottom: 0;
    cursor: pointer;
}

.logo--image {
    height: 100%;
    cursor: pointer;
}

/* .nav--account{ */
    /* position: absolute;
    right: 20px;
    top: 15px; */
/* } */

.btn-login{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border-color: #333;
    cursor: pointer;
}

.btn-register{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border-color: #333;
    /* color: #333;
    background-color: #fff;  ----------------------------------------------------------------------------------------- */
    cursor: pointer;
}

.none{
    display: none;
}

/* Comments */

.post--p{
    margin: 0;
}

.img-text {
    
    transform: translateY(-30px);
}

.comments--comment{
    /* display: inline-block; */
    float: right;
    cursor: pointer;
}

.comment{
    /* background-color: #fff; ----------------------------------------------------------------------------------------------*/
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid ;
}

.comment--profile{ 
    /* background-color: #fff; ----------------------------------------------------------------------------------------- */
    height: 46px;
    width: 50px;
    border-radius: 23px;
    border: 1px solid #333;
    margin: 10px 0;
    position: relative;
    /* display: inline-block; */
    /* float: left; */
}

.icon-btn {
    cursor: pointer; 
    outline: none;
    background: transparent;
    border: 1px solid transparent;
}

.icon-btn:focus {
    outline: none;
}

.like--i{
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.likeInput:active ~ label {
    filter:brightness(100);
}

.post--end{
    border-radius: 0 0 20px 20px;
}

/* Profile */

.profile--img{
    width: 400px;
    height: 400px;
    border: 1px solid #333;
    border-radius: 200px;
    margin: auto;
    /* background-image: url('../components/findus.png'); */
}

.profile--img-cover{
    width: 400px;
    height: 400px;
    border-radius: 200px;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 85px;
    background: linear-gradient(180deg, #616161 70%, #333 30%);
}

.profile--image-upload{
    height: 50px; 
    width: 400px;
    bottom: 50px;
    position: absolute;
    padding: 10px 40px 0px 40px;
    border-radius: 0 0 200px 200px;
}

.profile--create-post{
    height: 60px;
    border: 1px solid #707070;
}

.profile--settings{
    height: 60px;
    border: 1px solid #707070;
}

.profile--create-post-text{
    margin-top: 10px;
}

.profile--settings-dropdown{
    position: absolute;
    width: 200px;
    top: 70px;
    right: 0px;
    padding: 20px;
    border-radius: 20px;
}

.profile--settings-dropdown li:hover{
    filter: brightness(0.8);
}

.profile--change-image{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 10002;
    top: 0px;
    position: fixed;
}

.link{
    text-decoration: none;
    font-size: 20px;
    /* padding: 20px; */
}

.link:hover{
    text-decoration: none;


}

.settings--i{
    text-align: center;
    margin-top: 8px;
}

/* Login */
.login-body {
    width: 25%;
    padding-top: 20vh;
    border: none;
}

.login-body .card-body {
    /* background-color: #DFDEDC; ----------------------------------------------------------------------------------------- */
    /* color: #707070; */
    padding-right: 5%;
    padding-left: 5%;
    /* border: 1px solid #707070; */
    border-radius: 25px;
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.3);
}

.login-body .card form {
    padding-top: 2%;
}

.form-group {
    padding: 1% 0;
}

.login-inputs {
    padding: 3% 0;
}

.login-btn {
    padding: 0.8% 7%;
    border-radius: 25px;
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
}

.login-btn:hover{
    transform: scale(1.1);
    filter: brightness(1.1);
}

/* Create and Edit forms */

.post-create-body {
    width: 50%;
}

/* Register */

.register-body {
    padding-top: 10vh;
}
