body{
    padding-top: 100px;
    height: 200vh;
}

/* Colors */
.bg--light{
    background-color: #DFDEDC;
    color: #333;
}

.bg--light-bright{
    background-color: rgba(223, 222, 220, 0.7);
}

/* Navbar */
nav{
    height: 70px;
    width: 100%;
    position: fixed !important;
    box-shadow: 0px 4px 10px #888888;
    top: 0;
    background-color: #fff;
    z-index: 1000;
}

.search-icon {
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    border: none;
    background: none;
}

input[type=search] {
    width: 100%;
    height: 40px;
    border-color: black;
    border-radius: 50px;
    border-width: 2px;
    padding-left:20px;
    padding-right: 40px;
}

input[type=search]:focus {
    outline: none;
}

.nav--logo{
    height: 100%;
    width: auto;
}

.logo--image {
    height: 100%;
}

.nav--account{
    /* position: absolute;
    right: 20px;
    top: 15px; */
}

.btn-login{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border-color: #333;
    cursor: pointer;
}

.btn-register{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border-color: #333;
    color: #333;
    background-color: #fff;
    cursor: pointer;
}

/* Comments */

.post--p{
    margin: 0;
}

.comments--comment{
    /* display: inline-block; */
    float: right;
    cursor: pointer;
}

.comment{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    /* display: inline-block; */
}

.comment--profile{
    background-color: #fff;
    height: 46px;
    width: 50px;
    border-radius: 23px;
    border: 1px solid #333;
    margin: 10px 0;
    /* display: inline-block; */
    /* float: left; */
}

.like--i{
    cursor: pointer;
}

.post--end{
    border-radius: 0 0 20px 20px;
}

/* Profile */
/* Login */
.login-body {
    width: 25%;
    padding-top: 20vh;
    border: none;
}

.login-body .card-body {
    background-color: #DFDEDC;
    color: #707070;
    padding-right: 5%;
    padding-left: 5%;
    border: 1px solid #707070;
    border-radius: 25px;
}

.login-body .card form {
    padding-top: 2%;
}

.form-group {
    padding: 1% 0;
}

.login-inputs {
    padding: 3% 0;
}

.login-btn {
    padding: 0.8% 7%;
    border-radius: 25px;
    font-size: 1.5rem;
    background-color: #FFF;
    color: #707070;
    border-color: #707070;
}

.login-btn:hover {
    color: #FFF;
    background-color: #707070;
    border-color: #707070;
}

/* Register */

.register-body {
    padding-top: 10vh;
}